.input{ 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 4em;
    font-weight: bold;
    font-size: 1.4em;
    background-color: black;
    color: white;
    outline: 1px solid white;
}