.calc-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #D3D3D3;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
 

}

.calc-wrap{
  width: 400px;
  height: 600px;
  cursor: pointer;
 
  
}

.calc-row{
  display: flex;
  
}


.clear, .back{
  height: 2.5em;
  display: flex;
  justify-content: center ;
  align-items: center;
  font-size: 1em;
  background-color: black;
  color: white;
  outline: 1px solid white;
  flex: 1;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
}